* {
    font-family: Arial, Helvetica, sans-serif;
   }
   body {
       background-image: url('./img/background-image.jpg');
       background-size: cover;
       background-repeat: no-repeat;
   }
   .form-select {
       margin: 10px 0;
   }
   .table_wrap {
       padding: 10px;
       overflow: auto;
       background: #fff;
       box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
   }
   table {
       background: #fff;
   }
   table tr {
       border-bottom: 1px solid #ccc;
   }
   table tr td {
       padding: 5px 0 !important;
   }
   